@import '../styles/variables';

.main__form--year {
  margin: 0.625rem;
}
.main__form--movieInputYear {
  font-family: $fontMain;
}
.main__form--movieInputYear {
  font-size: 1.25rem;
  margin: 0.625rem;
  background-color: $extraLightBlue;
}
