@import '../styles/variables';
.main__form--movie {
  margin: 0.625rem;
}
.main__form--movieInput {
  font-family: $fontMain;
  font-size: 1.25rem;
  margin: 0.625rem;
  background-color: $extraLightBlue;
}
