@import '../styles/variables';
.main__section1 {
}
.main__section1--movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.625rem;
  grid-gap: 1.25rem;

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.main__section1--movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
  border: solid $darkBlue 0.125rem;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 1em;
  line-height: 1.5em;
  padding: 0.625rem;
  background-color: $extraLightBlue;
  justify-content: center;
}

.main__section1--movie:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px $darkBlue;
}
